<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>POOP CASINO</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="./css/coinflip.css">
  </head>

<body>

  <div class="modal" id="walletModal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Poop Wallet</p>
      </header>
      <section class="modal-card-body">
        <!-- Content ... -->
      </section>
      <footer class="modal-card-foot">
        <button class="button is-info" id="walletModalCloseButton">Close</button>
      </footer>
    </div>
  </div>

  <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/home">
        <img src="https://i.imgur.com/V2JFAbG.png" width="100" height="120">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/home">
          Home
        </a>

        <a class="navbar-item">
          Account
        </a>

        <div class="level-item">

          <button class="button is-info" id="debugBetTrackerButton">Test Chat</button>

        </div>

      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>


  <section class="section" style="height: calc(100% - 56px); padding: .5rem 1.5rem">      
      <div class="columns is-mobile" style="height: 100%;">

        <!-- Left 1/4 of container -->
        <div class="column is-2">
          <div class="box" style="height: 100%">

            <aside class="menu">

              <p class="menu-label">Games</p>
              <ul class="menu-list">
                <li><a href="/blackjack">Blackjack</a></li>
                <li><a href="/crash">Crash</a></li>
                <li><a href="/hilo">Hi/Lo</a></li>
                <li><a href="/coinflip">Coin Flip</a></li>
              </ul>

              <p class="menu-label">Stats</p>
              <ul class="menu-list">
                <li><a href="/stats">Personal Stats</a></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
              </ul>

              <p class="menu-label">Helpers</p>
              <ul class="menu-list">
                <li><a href="/debug">Debug & Tests</a></li>
              </ul>

            </aside>

          </div>
        </div>


        <div class="column">
          <!--<div class="box" style="height: 100%">-->
            
            <!-- Main container -->

            <!-- Notification Banner Block -->

            <!-- Top Stats Block -->
            <div class="block" style="height: 50%">
              <div class="box" style="height: 100%">
                <h1 class="title is-2">Coin Flip</h1>
                <p class="subtitle">A game against the odds! Follow <a href="https://github.com/bpluhar/fair.js/blob/main/safe-rng.js">this link</a> to read the algorithm powering the Provable Fair Number System.</p>
                <hr />

                <div class="columns is-mobile">
                  <div class="column is-4">
                    <div class="field has-addons has-addons-left">
                      <div class="control">
                        <input class="input" type="text" placeholder="Place a bet...">
                      </div>
                      <div class="control">
                        <a class="button is-primary" id="flipTurdButton">
                          flip
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="container is-fluid">
                    <div class="column is-8">
                      <figure class="image is-128x128" id="coin"></figure>
                    </div>
                  </div>
                </div>


              </div>
            </div>

            <!-- Current Session Block Box -->
            <div class="block" id="currentSessionBlock">

              <div class="box" id="currentSessionBox">
              </div>

            </div>

          <!--</div>-->

        </div>

      </div>

  </section>

  <script src="./socket.io/socket.io.js"></script>
  <script type="text/javascript" src="./js/coinflip.js" ></script>

</body>

</html>

