<div class="box" style="height: 100%">

  <aside class="menu">

    <p class="menu-label">Games</p>
    <ul class="menu-list">
      <li><a href="/blackjack">Blackjack</a></li>
      <li><a href="/crash">Crash</a></li>
      <li><a href="/hilo">Hi/Lo</a></li>
      <li><a href="/coinflip">Coin Flip</a></li>
    </ul>

    <p class="menu-label">Stats</p>
    <ul class="menu-list">
      <li><a href="/stats">Personal Stats</a></li>
      <li><a href="/leaderboard">Leaderboard</a></li>
    </ul>

    <p class="menu-label">Helpers</p>
    <ul class="menu-list">
      <li><a href="/debug">Debug & Tests</a></li>
    </ul>

  </aside>

</div>